body {
    font-size: 14px;
    font-family: sans-serif;
}
.inc-dec {
    display: block;
    font-size: 16px;
    margin: 10px 0;
}

.number {
    margin: 0 5px;
}

.kakar {
    width: 250px;
    height: 250px;
    transform: rotate(90deg);
}